.auth-container {
  position: relative;
  height: 100vh;
  background: url("https://source.unsplash.com/1600x900/?music") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.auth-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.auth-content {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.auth-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.auth-button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 15px;
}

.auth-button:hover {
  background-color: #17a743;
}
