.feed-container {
  padding: 20px;
  margin-left: 5%;
  margin-bottom: 80px;
}

.feed-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.feed-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.feed-card:hover {
  transform: scale(1.02);
}

.right-sidebar {
  padding: 20px;
  background-color: #f8f8f8;
  border-left: 1px solid #ddd;
}

/* .statistics-section {
  margin-bottom: 20px;
}

.upgrade-section {
  background-color: #e6ffe6;
  padding: 15px;
  border-radius: 8px;
} */

.album-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.album-scroll-container .flex-nowrap {
  flex-wrap: nowrap;
}

.album-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.album-scroll-container::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

.album-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.card-title-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-artist-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggested-tracks-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.suggested-track-item {
  transition: background-color 0.2s, transform 0.2s;
}

.suggested-track-item:hover {
  background-color: #ececec;
  cursor: pointer;
  transform: scale(1.02);
}
