body {
  font-family: "Poppins", sans-serif;
}

.home-container {
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  /* filter: blur(1px); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #ffffff;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 25px;
  transition: background 0.3s, color 0.3s;
}

.register-button {
  background: #162160;
  color: #fff;
}

.register-button:hover {
  background: #223393;
}

.login-button {
  background: #fff;
  color: #162160;
}

.login-button:hover {
  background: #c8c9d3;
}
