.top-bar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-input {
  max-width: 400px;
}

.avatar-dropdown {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 5px;
}
