/* .player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #282828;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.player-info {
  display: flex;
  align-items: center;
}

.song-details {
  margin-left: 10px;
} */
