.content-container {
  margin-top: 70px;
}

.sidebar-container {
  background-color: #8b8a8a;
  width: 0px;
}

.main-content {
  min-height: calc(100vh - 70px);
}

/* .right-sidebar {
  padding: 20px;
  background-color: #1c1c1c;
  min-height: calc(100vh - 70px);
} */

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #ada6a6;
}

h2 {
  font-size: 24px;
  color: #333;
}

button {
  font-family: "Arial", sans-serif;
  padding: 10px;
  background-color: #1db954;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #14833b;
}

.main-content {
  margin-left: 5%;
  background-color: #8b8a8a;
}
