.content-container {
  margin-top: 70px;
}

.sidebar-container {
  background-color: #f8f9fa;
  min-height: calc(100vh - 70px);
}

.main-content {
  min-height: calc(100vh - 70px);
}

.right-sidebar {
  padding: 20px;
  background-color: #1c1c1c;
  min-height: calc(100vh - 70px);
}
